<div class="container" *ngIf="movie">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <div class="card">
          <img [src]="movie?.Poster" class="card-img-top" alt="{{ movie?.Title }}">
          <div class="card-body">
            <h5 class="card-title">{{ movie?.Title }}</h5>
            <p><strong>Year:</strong> {{ movie?.Year }}</p>
            <p><strong>Type:</strong> {{ movie?.Type }}</p>
            <p><strong>IMDB ID:</strong> {{ movie?.imdbID }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  